/* This is an example of using Sass, otherwise plain CSS works too*/
$primary-background: #072526;
$accent-color: #6D2218;
$sans-serif: 'Julius Sans One', sans-serif;
$accent-color2: #FDF8DF;
$accent-color3: rgba(7, 37, 38, 0.6);

* {
	box-sizing: border-box;
	margin: 0%;
	&:after {
		box-sizing: border-box;
		margin: 0px;
    font-family: $sans-serif;
	}
	&:before {
		box-sizing: border-box;
		margin: 0px;
    font-family: $sans-serif;
	}
}

body {
	overflow: hidden;
}

// ----------------------- login page -------------------

#hotel-logo {
  margin-top: -20px;
}

#login-page {
  background-image: url("../images/forest-bg.jpg");
  background-size: cover;
  display: flex;
  width: 100%;
  justify-content: center;
  z-index: 2;
  color: $accent-color2;
}

#bg-square {
  width: 200%;
  background-color: rgba(7, 37, 38, 0.6);
  height: 400px;
  margin-top: 120px;
  z-index: 1;
}

h1 {
  font-size: 1.2em;
}

h2 {
  font-size: 1em;
  padding: 10px;
}

.label {
  padding: 50px;
  margin: 30px;
}

.manager-instructions {
  font-size: 0.8em;
  padding-bottom: 10px;
}

.login-form {
  font-family: $sans-serif;
  font-size: 1.2em;
  background-color: $primary-background;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  width: 50%;
  position: absolute;
  height: 400px;
  z-index: 3;
  margin-top: 120px;
}

.user-input {
  height: 40px;
  font-size: 1em;
  padding: 5px;
  margin: 20px;
  width: 300px;
  background-color: $accent-color2;
}

.login-btn {
  margin: 10px;
  width: 200px;
  height: 50px;
  border-radius: 8px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  font-size: 0.6em;
  background-color: $accent-color2;
}

.login-btn:hover {
  background-color: $accent-color;
  color: white;
}

#error-message {
  font-size: 0.8em;
}

// ----------------------- fairy animation -------------------

img.glitter-fairy {
  position: absolute;
  height: 25px;
  width: 25px;
  z-index: 0;

  animation: glitter 3s steps(6, end) infinite normal;
  -webkit-animation: glitter 3s steps(6, end) infinite normal;
  -moz-animation: glitter 3s steps(6, end) infinite normal;
  -ms-animation: glitter 3s steps(6, end) infinite normal;
  -o-animation: glitter 3s steps(6, end) infinite normal;
}

@keyframes glitter {
  0% {
    -webkit-transform: scale(1.0);
    opacity: 1;
  }
  25% {
    -webkit-transform: scale(0.5);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(1.0);
    opacity: 1;
  }
  75% {
    -webkit-transform: scale(0.5);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 1;
  }
}

// ----------------------- sunrays animation -------------------

#sunlight {
  z-index: 0;
  position: absolute;
  height: 130vh;
  margin-top: -100px;
  margin-left: 300px;
  opacity: 1;
  animation: fade 5s infinite normal;
}

@keyframes fade {
  0%,100% { opacity: 0 }
  50% { opacity: 0.4 }
}

// ----------------------- manager page -------------------

#manager-page {
  background-color: $accent-color3;
  color: black;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#display-data {
  margin: 10px;
  display: flex;
  margin-top: 50px;
  flex-direction: column;
  align-items: center;
  background-color: $accent-color3;
  width: 100%;
  border-radius: 10px;
  height: 550px;
}

#display-data-form {
	@extend #display-data;
}

#logo-for-manager {
	height: 100px;
}

.font-color {
	font-family: $sans-serif;
	color: $accent-color2;
}

#todays-date {
	@extend .font-color;
  margin: 25px;
  font-size: 3em;
}

.data-title {
	@extend .font-color;
  margin: 10px;
  font-size: 1em;
}

#todays-revenue {
	@extend .font-color;
  font-size: 4em;
}

.room-data {
  flex-direction: row;
	justify-content: space-between;
	width: 100%;
}

#rooms-available {
  display: block;
  width: 50px;
  height: 50px;
  background-color: $accent-color2;
	margin-right: 10px;
}

#rooms-unavailable {
	@extend #rooms-available;
  background-color: $primary-background;
}

.data-wrapper {
	@extend .font-color;
  display: flex;
  flex-direction: row;
  margin-left: 25px;
  justify-content: space-around;
  padding: 15px;
}

.avatar {
	height: 105px;
	position: absolute;
	top: 70%;
	left: 90%;
}

.user-data {
	@extend .font-color;
	font-size: 2em;
}

#search-name {
	font-size: 0.7em;
}

.search-btn {
	@extend .login-btn;
}

.guest-revenue {
	font-size: 0.8em;
}

// ----------------------- pie graph for rooms -------------------

#pie {
	margin-left: 35%;
  overflow: hidden;
  background: $accent-color2;
  border-radius: 100%;
  height: calc(var(--size, 200) * 1px);
  position: relative;
  width: calc(var(--size, 200) * 1px);

}

.pie-segment {
  height: 100%;
  position: absolute;
  transform: translate(0, -50%) rotate(90deg) rotate(calc(var(--offset, 0) * 1deg));
  transform-origin: 50% 100%;
  width: 100%;
	z-index: 10;

}

.pie-segment:before {
  background: $primary-background;
  content: '';
  height: 100%;
  position: absolute;
  transform: translate(0, 100%) rotate(calc(var(--value, 45) * 1deg));
  transform-origin: 50% 0;
  width: 100%;
}

.reservation-menu {
	font-size: 0.5em;
  width: 500px;
  height: 270px;
  overflow-y: auto;
	font-family: $sans-serif;
	margin: 15px;
}

.reservation-menu a {
  background-color: $accent-color2;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.reservation-menu a.active {
  background-color: $primary-background;
  color: $accent-color2;
	padding: 15px;
}

.book-btn {
	@extend .search-btn;
}

// ----------------------- calendar styles ------------------- //

.calendar-form {
	margin-top: 100px;
}

caption {
	background: $primary-background;
	height: 3em;
	line-height: 3em;
	color: white;
  font-family: $sans-serif;
}

caption a {
	color: white;
}

table {
	background: $accent-color2;
	font-size: 20px;
	border-collapse: collapse;
	font-family: $sans-serif;
	margin-top: 30px;
}

table,th,tr {
	text-align: center;
	vertical-align: middle;
}

table thead th {
	border: solid 1px $primary-background;
	width: 3em;
	height: 2em;
  font-family: $sans-serif;
}

table tbody td {
	border: solid 1px $primary-background;
	height: 2.7em;
}

a {
	text-decoration: none;
}

tbody a {
	display: block;
	height: 100%;
	display:flex;
	align-items: center;
	justify-content: center;
	color: black;
}

tbody a:hover{
	background: $accent-color;
	color: white;
}

.null {
	color: gray;
  font-family: $sans-serif;
}


#jan-btn {
	font-size: 1em;
	background-color: $primary-background;
	font-family: $sans-serif;
	color: $accent-color2;
	margin-bottom: 0px;
}

#feb-btn {
	@extend #jan-btn;
}
// ----------------------- guest styling ------------------- //

.title-logo {
	position: absolute;
	top: 50px;
	height: 150px;
	margin-top: -50px;
	padding: 0px;
}

#guest-page {
	background-image: url("../images/forest-bg.jpg");
	background-size: cover;
	margin-top: -50%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.booking-form {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 700px;
	height: 59.4%;
	background-color: $accent-color;
}

.booking {
	font-family: $sans-serif;
	font-size: 1.3em;
	color: $accent-color2;
	text-align: center;
	padding-top: 11px;
}

#reso-btn {
	display: block;
	height: 54px;
	margin: 0px;
	border-radius: 0px;
}

.guest-name {
	font-family: $sans-serif;
	font-size: 1.5em;
	color: $accent-color2;
}

.inactive-tab {
	background-color: $accent-color2;
	color: $accent-color3;
	height: 54px;
	padding-top: 5px;
}

#book-room {
	position: absolute;
	// margin-left: -47%;
}

.booking-data {
	font-size: 1.5em;
	color: $accent-color2;
	font-family: $sans-serif;
}

.room-data {
	display: block;
	line-height: 30px;
	@extend .booking-data
}

.vertical-menu {
	position: absolute;
	font-size: 0.8em;
  width: 400px;
  height: 335px;
  overflow-y: auto;
	font-family: $sans-serif;
	margin-left: 270px;
	margin-top: -254px;
}

.vertical-menu a {
  background-color: $accent-color2;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.vertical-menu a:hover {
  background-color: #ccc;
}

.vertical-menu a.active {
  background-color: $primary-background;
  color: $accent-color2;
}

#room-btn {
	height: 35px;
	display: block;
}

// ----------------------- past reservations ------------------- //

#future-vertical,
#past-vertical {
 margin-left: 112%;
 margin-top: 50px;
 width: 650px;
 height: 300px;
}

#future-rooms,
#past-rooms {
	margin-left: -70%;
 position: absolute;
 font-size: 1.5em;
 height: 50%;
 width: 100%;
}

// ----------------------- upcoming reservations ------------------- //

#future-resos,
#past-resos {
	font-family: $sans-serif;
	color: $accent-color2;
}

// ----------------------- guest name animation ------------------- //

.fade-in {
	-webkit-animation: fade-in 2.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 2.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// ----------------------- global styles ------------------- //

.hidden {
  height: 0vh;
  width: 0vh;
	margin: 0vh;
	padding: 0vh;
  visibility: collapse;
	pointer-events: none;
	position: relative;
}

.visible {
  visibility: visible;
  height: 100vh;
}
