/* This is an example of using Sass, otherwise plain CSS works too*/
$primary-background: #072526;
$accent-color: #6D2218;
$sans-serif: 'Julius Sans One', sans-serif;
$accent-color2: #FDF8DF;
$accent-color3: rgba(7, 37, 38, 0.6);

* {
	box-sizing: border-box;
	margin: 0%;
	&:after {
		box-sizing: border-box;
		margin: 0px;
    font-family: $sans-serif;
	}
	&:before {
		box-sizing: border-box;
		margin: 0px;
    font-family: $sans-serif;

	}
}

body {

}

// ----------------------- login page ------------------- //

#hotel-logo {
  margin-top: -20px;
}

#login-page {
  background-image: url("../images/forest-bg.jpg");
  background-size: cover;
  display: flex;
  width: 100%;
  justify-content: center;
  z-index: 2;
  color: $accent-color2;
}

#bg-square {
  width: 200%;
  background-color: rgba(7, 37, 38, 0.6);
  height: 400px;
  margin-top: 120px;
  z-index: 1;
}

h1 {
  font-size: 1.2em;
}

h2 {
  font-size: 1em;
  padding: 10px;
}

.label {
  padding: 50px;
  margin: 30px;
}

.manager-instructions {
  font-size: 0.8em;
  padding-bottom: 10px;
}

.login-form {
  font-family: $sans-serif;
  font-size: 1.2em;
  background-color: $primary-background;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  width: 50%;
  position: absolute;
  height: 400px;
  z-index: 3;
  margin-top: 120px;
}

.user-input {
  height: 40px;
  font-size: 1em;
  padding: 5px;
  margin: 20px;;
  width: 300px;
  background-color: $accent-color2;
}

.login-btn {
  margin: 10px;
  width: 200px;
  height: 50px;
  border-radius: 8px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  font-size: 0.6em;
  background-color: $accent-color2;
}

.login-btn:hover {
  background-color: $accent-color;
  color: white;
}

#error-message {
  font-size: 0.8em;
}

// ----------------------- fairy animation ------------------- //

img.glitter-fairy {
  position: absolute;
  height: 25px;
  width: 25px;
  z-index: 0;

  animation: glitter 3s steps(6, end) infinite normal;
  -webkit-animation: glitter 3s steps(6, end) infinite normal;
  -moz-animation: glitter 3s steps(6, end) infinite normal;
  -ms-animation: glitter 3s steps(6, end) infinite normal;
  -o-animation: glitter 3s steps(6, end) infinite normal;
}

@keyframes glitter {
  0% {
    -webkit-transform: scale(1.0);
    opacity: 1;
  }
  25% {
    -webkit-transform: scale(0.5);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(1.0);
    opacity: 1;
  }
  75% {
    -webkit-transform: scale(0.5);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 1;
  }
}

// ----------------------- sunrays animation ------------------- //

#sunlight {
  z-index: 0;
  position: absolute;
  height: 130vh;
  margin-top: -100px;
  margin-left: 300px;
  opacity: 1;
  animation: fade 5s infinite normal;
}

@keyframes fade {
  0%,100% { opacity: 0 }
  50% { opacity: 0.4 }
}

// ----------------------- manager page ------------------- //

#manager-page {
  background-color: $accent-color3;
  color: black;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#display-data {
  margin: 10px;
  display: flex;
  margin-top: 3%;
  flex-direction: column;
  align-items: center;
  background-color: $accent-color3;
  width: 500px;
  border-radius: 10px;
  height: 550px;
}

.font-color {
	font-family: $sans-serif;
	color: $accent-color2;
}

#todays-date {
  margin: 25px;
  font-size: 3.5em;
  @extend .font-color
}

.data-title {
  margin: 10px;
  font-size: 1.5em;
	@extend .font-color
}

#todays-revenue {
  font-size: 4em;
	@extend .font-color
}

.room-data {
  display: flex;
  flex-direction: row;
}

#rooms-available {
  display: block;
  width: 50px;
  height: 50px;
  background-color: $accent-color2;
}

#rooms-unavailable {
  display: block;
  width: 50px;
  height: 50px;
  background-color: $primary-background;
}

.data-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 25px;
  justify-content: space-around;
  padding: 15px;
	@extend .font-color
}

.avatar {
	height: 100px;
}

.user-data {
	font-size: 2em;
	@extend .font-color
}

#search-name {
	font-size: 0.7em;
}

.search-btn {
	@extend .login-btn
}

// ----------------------- pie graph for rooms ------------------- //

#pie {
  margin: 20px;
  overflow: hidden;
  background: $accent-color2;
  border-radius: 100%;
  height: calc(var(--size, 200) * 1px);
  position: relative;
  width: calc(var(--size, 200) * 1px);
}

.pie-segment {
  height: 100%;
  position: absolute;
  transform: translate(0, -50%) rotate(90deg) rotate(calc(var(--offset, 0) * 1deg));
  transform-origin: 50% 100%;
  width: 100%;
}

.pie-segment:before {
  background: $primary-background;
  content: '';
  height: 100%;
  position: absolute;
  transform: translate(0, 100%) rotate(calc(var(--value, 45) * 1deg));
  transform-origin: 50% 0;
  width: 100%;
}



// ----------------------- calendar styles ------------------- //

caption {
	background: $primary-background;
	height: 3em;
	line-height: 3em;
	box-shadow: 3px 0 2px black;
	color: white;
  font-family: $sans-serif;
}

caption a {
	color: white;
}

table {
	background: $accent-color2;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 20px;
	border-collapse: collapse;
	box-shadow: 3px 3px 2px black;
	font-family: $sans-serif;
}

table,th,tr {
	text-align: center;
	vertical-align: middle;
}

table thead th {
	border: solid 1px $primary-background;
	width: 3em;
	height: 2em;
	font-weight: 900;
  font-family: $sans-serif;
}

table tbody td {
	border: solid 1px $primary-background;
	height: 2.7em;
}

a {
	text-decoration: none;
}

tbody a {
	display: block;
	height: 100%;
	display:flex;
	align-items: center;
	justify-content: center;
	color: black;
}

tbody a:hover{
	background: $accent-color;
	color: white;
}

.null {
	color: gray;
  font-family: $sans-serif;
}

.selected{
	background: blue;
}

.selected a{
	color: white;
}







// ----------------------- global styles ------------------- //

.hidden {
  height: 0vh;
  width: 0vh;
  visibility: collapse;
}

.visible {
  visibility: visible;
  height: 100vh;
}
